@import "components/**";

body {
  background: url('../images/krystal.png');
  background-color: lime;
  color: white;
  display: flex;
}

.unusedclass {
  background: red;

  &__ahh {
    color: green
  }
}
