@import "components/**";

body {
  background: lime;
  color: white;
  display: flex;
  background: url('../images/krystal.png');
}

.unusedclass {
  background: red;
  &__ahh {
    color: green
  }
}
