{
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "indentation": [2],
    "max-empty-lines": 2,
    "declaration-block-properties-order": "alphabetical",
    "number-leading-zero": "never",
  }
}
